body {
    padding-bottom: 0px;
    background: url(../images/bg1.jpg) repeat;
    font-size: 13px;
    line-height: 16px;
    color: #333;
}


.top{
	-border-bottom: 1px dashed #999;
}


.navbar-inverse .navbar-inner {
border-bottom: 2px solid #000;
}

.navbar-inverse .navbar-inner {
background-color: #ffab33;
background-image: -moz-linear-gradient(top, #febc5f, #febc5f);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc573), to(#ffc573));
background-image: -webkit-linear-gradient(top, #ffc573, #ffc573);
background-image: -o-linear-gradient(top, #ffc573, #ffc573);
background-image: linear-gradient(to bottom, #ffab33, #ffab33);
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
color: #fff;
font-weight: bolder;
font-size: 15px;
text-shadow: 1px 1px 1px #333;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover{
	color:#fff;
}

label, input, button, select, textarea {
font-size: 13px;
line-height: 16px;
}

label {
margin-bottom: 1px;
}

.clear{
	clear: both;
}

.navbar-inverse .navbar-inner {
	border-bottom: 2px solid #000;
}

.hero-unit {
	padding: 15px 25px;
    box-shadow: 0 0 1px 1px #D0D0D0 inset;
}

h1, h2, h3 {
	text-shadow: 1px 1px 1px #888;
}

h4{
	margin: 0 0 15px 0;
	font-style: italic;
border-bottom: 2px solid #aaa;
color: #777;
}

h4 a{
	float: right;
	font-size: 13px;
}

.form-horizontal{
	margin: 0 0 13px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	box-shadow: 0 -4px 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar-form input[type='text'],
.navbar-form input[type='password']{
	font-size: 12px;
}

#content {
	background: #fff;
	padding: 70px 20px 20px 20px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
}

.span6-mini1{
	width: 448px;
	padding-right: 20px;
	border-right: 2px solid #f6f6f6;
}

.span6-mini2{
	width: 448px;
}

.info{
	font-size: 12px;
}

.brand{
	color: #000;
	font-size: 11px;
	line-height: 14px;
}

.brand a{
	color: #000;
	font-size: 11px;
	line-height: 14px;
}
.logo{
	width: 170px;
}






.pseudo-link {
	border-bottom: 1px dashed #333;
	font-size: 12px;
	cursor: pointer;
}

.alert {
	font-size: 13px;
}

input[id$="verifyCode"] {
	display: block;
}

.client-panel, .client-panel li {
	list-style: none;
	list-style-type: none;
	font-size: 14px;
	display: block;
	padding-bottom: 12px;
	margin: 0;
}

.client-panel li:FIRST-CHILD {
	padding-bottom: 24px;
}


.spec-item{
	margin: 0 0 19px 0;
	padding: 0 0 19px 0;
	border-bottom: 2px dotted #999;
}

.spec-item-rating{
	float: right;
}

.spec-item-info{
	float: left;
	margin: 0 0 0px 0;
	1color: #d87406;
}
.spec-item-cont{
	margin: 4px 0 0 0;
}
.spec-item-actions{
	margin: 4px 0 6px;
}

.tender-item{
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	border-bottom: 2px dotted #999;
}
.tender-item-actions{
	margin: 4px 0 6px 0;
}
.tender-item-date{
	float: right;
	font-weight: bolder;
	font-size: 12px;
}
.tender-item-info{
	margin: 0 0 4px 0;
	1color: #468847;
	font-weight:  bold;
}
.tender-item-cont{
	margin: 4px 0 0 
}

.navbar-sort{
	line-height: 14px;
}

.navbar-inner-sort{
	min-height: 24px;
	line-height: 14px;
}

.navbar-inner-sort a{
	font-size: 13px;
	padding: 5px 15px 5px !important; 
} 

.nav-sort{
	line-height: 14px;
}

.nav-sort li{
	font-size: 13px;
	line-height: 14px;
}

.brand-sort{
	font-size: 13px !important;
	font-weight: bold !important;
}

.profile-item{
	clear: left;
}

.profile-item div{
	float: left;
	width: 200px;
	
}


.faq-item-cont{
	margin: 0 0 10px 0;
}
.faq-item-answer{
	margin: 0 0 5px 0;
	padding: 0 0 0 50px;
	font-size: 13px;
}


footer{
	margin: 30px 0 0 0;
	padding: 30px 0 0 0;
	border-top: 1px solid #aaa;
	 background: url(../images/rab1.png) no-repeat 100% 0;
}