body {
    padding-bottom: 0px;
    background: url(../images/cream_pixels.png) repeat;
}

.clear{
	clear: both;
}

.navbar-inverse .navbar-inner {
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.2), 0 0 2px 1px #CCC inset;
	border-bottom: 1px solid #bbb;
}

.hero-unit {
    box-shadow: 0 0 1px 1px #D0D0D0 inset;
}

h1, h2, h3 {
	text-shadow: 0 1px 2px #888;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	box-shadow: 0 -4px 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar-form input[type='text'],
.navbar-form input[type='password']{
	font-size: 12px;
}

#content {
	background: #fff;
	padding: 70px 20px 20px 20px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
}

.brand{
	color: #000;
	font-size: 11px;
	line-height: 14px;
}

.brand a{
	color: #000;
	font-size: 11px;
	line-height: 14px;
}
.logo{
	width: 177px;
}

.pseudo-link {
	border-bottom: 1px dashed #333;
	font-size: 12px;
	cursor: pointer;
}

.alert {
	font-size: 13px;
}

input[id$="verifyCode"] {
	display: block;
}

.client-panel, .client-panel li {
	list-style: none;
	list-style-type: none;
	font-size: 14px;
	display: block;
	padding-bottom: 12px;
	margin: 0;
}

.client-panel li:FIRST-CHILD {
	padding-bottom: 24px;
}

.spec-item{
	border-bottom: 0px solid #333;
}

.spec-item-rating{
	float: right;
}

.spec-item-info{
	float: left;
}

.navbar-sort{
	line-height: 14px;
}

.navbar-inner-sort{
	min-height: 24px;
	line-height: 14px;
}

.navbar-inner-sort a{
	font-size: 13px;
	padding: 5px 15px 5px !important; 
} 

.nav-sort{
	line-height: 14px;
}

.nav-sort li{
	font-size: 13px;
	line-height: 14px;
}

.brand-sort{
	font-size: 13px !important;
	font-weight: bold !important;
}

.profile-item{
	clear: left;
}

.profile-item div{
	float: left;
	width: 200px;
	
}


.faq-item-cont{
	margin: 0 0 10px 0;
}
.faq-item-answer{
	margin: 0 0 5px 0;
	padding: 0 0 0 50px;
	font-size: 13px;
}